:root {
  --Light-color: #eef1ef;
  --Accent-color: #ddcacf;
  --Main-color: #3a5e57;
  --Main-lighter-color: #6d8c86;
  --Pop-color: #e6c16b;
  --Dark-color: #272727;
  --Error-color: #872e2e;
}

* {
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  width: 80%;
}


body {
  background-color: var(--Light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
